<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200">
    <link rel="stylesheet" href="main.css">
</head>
<body>
    <div class="bg">
    <header data-uia="nmhp-card-header" class=" default-ltr-cache-xa9oq4 e1bzn5xj1">
        
        <h2 class="logo">[̲̅E][̲̅l][̲̅i][̲̅t][̲̅e]</h2>
        <nav class="navigation">
            <a href="#" class="a">Help</a>
            <a href="#" class="a">About</a>
            <a href="#" class="a">BMI</a>
            <button type="button" class="btn"><a href="/login">LogIn</a></button>
        </nav>
        
          
           
      
    </header>
    <div class="main-bg"><span>​🇳​​🇪​​🇻​​🇪​​🇷​</span></div>
    <div class="main-bg2"><span>[̲̅G][̲̅I][̲̅V][̲̅E]</span></div>
    <div class="main-bg3"><span>ᴜᴘ</span></div>
    
    
</body>
</html>