<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login Form | Satyam</title>
  <link rel="stylesheet" href="/stylessign.css">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
  <div class="wrapper">
    <form action="/signup" method="post">
      <h1>SignUp</h1>
      <div class="input-box">
        <input id="name" type="text" name="username" placeholder="Username" required>
        <i class='bx bxs-user'></i>
      </div>
      <div class="input-box">
        <input id="pass" type="password" name="password" placeholder="Password" required>
        <i class='bx bxs-lock-alt' ></i>
      </div>
      <div class="remember-forgot">
        <label><input type="checkbox">Remember Me</label>
        <a href="#">Forgot Password</a>
      </div>
      <button type="submit" class="btn">Register</button>
      <% if(msg1){ %>
        <div class="register-link">
        <p>User exist !! <a href="/signup">Try Again</a></p>
        </div>
        <% msg1=false %>
      <% } %>
      
    </form>
  </div>
</body>
</html>