* {
    font-family: Assistant,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica,Arial,sans-serif;
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
}
header {

    padding: 20px 100px;
    display: flex;
    height: 90px;
    background-color: rgba(202, 197, 197, 0);
    justify-content: space-between;
    align-items: center;
    z-index: 99;
}
.navigation .btn {
    width: 80px;
    height: 40px;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    border: 2px solid #fff;
    background: transparent;
    margin-left: 40px;

}
.navigation .btn:hover {
   background: #ffffff87;
   color: black;
   

}
.navigation .btn  a:hover{
    width: max-content;
    color: #0c0c0c;
 
 }
.navigation .btn  a{
   color: #fff;

}
.navigation .a {
   
   
    margin-left: 40px;
}
.navigation .a {
   
    position: relative;
    color: aliceblue;
    
}
body{
    background: #717070;
    color: white;
}
.bg {
    height: 100vh;
    width: 100%;
    background-image: url(https://cdn.wallpapersafari.com/95/82/1SCVuY.jpg);
    background-size: cover;
    background-position: center;

}
.main-bg {
    
    justify-content: center;
    display: flex;
    margin-top: 200px;
    align-items: center;
    font-size: 40px;
}

.main-bg2 {
    
    justify-content: center;
    display: flex;
    margin-top: 20px;
    align-items: center;
    font-size: 40px;
    
    color: rgb(15, 15, 15);
}
.main-bg2 span{
    
    background: rgba(255, 255, 255, 0.342);
    PADDING: 10px;
    border-radius: 6px;
    transition: 400ms;
}
.main-bg2 span:hover{
    
    background: rgba(255, 255, 255, 0.948);
    PADDING: 10px;
    padding-left: 50px;
    padding-right: 50px;
   
}
.main-bg3 {
    
    justify-content: center;
    display: flex;
    margin-top: 15px;
    align-items: center;
    font-size: 40px;
}